////
/// Reset base del proyecto GuadaLLab
/// @group Base
////
@use '../abstracts/variables' as vars;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: vars.color(primary);
    color: vars.color(secondary);
    font-family: vars.$font-family;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}
